* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #e2e8f0;

    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: clamp(80px, 10%, 120px) 5fr;
}

:root {
    --primary-color: #0a73ac;
    --secondary-color: #42b1ec;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --main-text-color: #686868;
    --input-border-radius: 16px;
    --input-border-style: none;
    --card-border-radius: 8px;
    --card-box-shadow: 2px 4px 2px var(--shadow-color);
    --card-padding: 18px 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 3fr repeat(3, minmax(80px, 0.4fr));
    align-items: center;
    margin-bottom: 12px;
    padding: 0px 18px;

    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

button {
    font: inherit;
    font-weight: bold;
    width: clamp(mincontent, 75%, 250px);
    height: clamp(30px, 25%, 60px);
    border-style: var(--input-border-style);
    border-radius: var(--input-border-radius);
    cursor: pointer;   
}

button.add {
    color: white;
    background-color: var(--secondary-color);
}